* {
    padding: 0;
    margin: 0;
    font-family: serif;
    font-weight: 550;
}

.container_12 {
    width: 1515px;
    margin: 0 auto;
}

header {
    /* background-color: #d30000; */
    width: 100%;
    height: 97px;
}

.logo {
    width: 40%;
    float: left;
}

.logo>img {
    width: 150px;
    height: 97px;
    padding-left: 250px;
}

nav {
    width: 60%;
    float: left;
}


/* .t{
  width: 100%;
  height: 40px;
} */

.mucluc {
    float: left;
    padding-top: 30px;
}

.mucluc>select {
    font-size: 17px;
    border: none;
}

.search {
    padding-top: 25px;
}

.search>input {
    font-size: 24px;
    border: none;
    font-family: initial;
}

.search>i {
    padding-left: 15px;
    font-size: 30px;
}

.fb-like {
    padding-left: 50px;
}

.menu {
    z-index: 10;
    list-style-type: none;
    position: absolute;
    top: 70px;
}

.menu>li {
    display: inline-block;
    margin-right: 30px;
    position: relative;
}

.menu>li>a {
    color: #000000;
}

.menucon {
    list-style: none;
    display: none;
    position: absolute;
    top: 18px;
    left: 0;
}

a {
    text-decoration: none;
    color: #000000;
}

.menucon>li {
    width: 200px;
    height: 30px;
    padding-left: 5px;
    border-radius: 2px;
    line-height: 2;
    background-color: #ffffff;
    border-bottom: 1px dotted red;
    display: block;
}

.menu>li:hover .menucon {
    display: block;
}

.menucon>li:hover {
    background-color: #adb8bd;
    color: #d30000;
}

.menucon>li:hover a {
    color: #0d74af;
}

.menucon2 {
    list-style: none;
    display: none;
    position: absolute;
    left: 200px;
    top: 30px;
}

.menucon2 li {
    width: 250px;
    height: 60px;
    border-radius: 2px;
    line-height: 2;
    background-color: #ffffff;
    border-bottom: 1px dotted red;
    display: block;
    text-align: center;
}

.menucon2>li:hover {
    background-color: rgb(172, 183, 187);
}

.menucon2>li:hover a {
    color: #000000;
}

.menucon>li:hover .menucon2 {
    display: block;
}

body {
    font-family: Verdana, sans-serif;
}

article {
    width: 100%;
    min-height: 722px;
    /* background-color:blue; */
}

.Baner {
    width: 100%;
    height: 650px;
}

.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

img {
    vertical-align: middle;
}


/* Fading animation */

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}


/* On smaller screens, decrease text size */

@media only screen and (max-width: 300px) {
    .text {
        font-size: 11px
    }
}


/* The dots/bullets/indicators */

.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active {
    background-color: #717171;
}

article>.Baner>img {
    width: 100%;
}

article .thongtin {
    line-height: 100px;
    text-align: center;
}

div.line {
    width: 20%;
    height: 2px;
    background-color: gray;
    position: relative;
    left: 40%;
    bottom: 10px;
}

div.thongtin p {
    position: relative;
    top: 20px;
    line-height: 20px;
    text-align: center;
}

div.sanpham .box p {
    color: #333333;
}

.tien {
    color: #d30000;
    position: relative;
    top: 30px;
}

div.box1 {
    width: 280px;
    height: 400px;
    position: relative;
    top: 100px;
    left: 8%;
    float: left;
    text-align: center;
    padding: 10px;
    margin: 10px;
    overflow: hidden;
}

div.box1 h4 {
    position: relative;
    top: 25px;
}

div.box1 p {
    position: relative;
    top: 30px;
}

div.box1>img {
    width: 280px;
    height: 280px;
}

div.box1 img:hover {
    transform: scale(1.2);
    transition: 2s;
}

.sanpham2 {
    padding: 0;
    clear: left;
    margin: 0;
}

div.sanpham2 .left {
    width: 600px;
    height: 270px;
    position: relative;
    top: 200px;
    left: 150px;
    background-color: green;
    overflow: hidden;
}

div.sanpham2 .left img {
    width: 100%;
}

.left img:hover {
    transform: scale(1.2);
    transition: 2s;
}

div.sanpham2 .leftbottom {
    width: 600px;
    height: 270px;
    background-color: green;
    position: relative;
    top: 250px;
    left: 150px;
    overflow: hidden;
}

div.leftbottom img {
    width: 100%;
}

.leftbottom img:hover {
    transform: scale(1.2);
    transition: 2s;
}

div.right {
    width: 600px;
    height: 500px;
}

div.right img {
    width: 100%;
    height: 100%;
    position: relative;
    bottom: 60%;
    left: 800px;
}

.right img:hover {
    transform: rotate(2deg);
    transition: 3s;
}

div.thongtin1 {
    text-align: center;
    position: relative;
    bottom: 200px;
}

div.thongtin1>h1 {
    text-align: center;
}

div.thongtin1 p {
    position: relative;
    top: 70px;
}

div.line1 {
    position: relative;
    top: 20px;
    width: 20%;
    height: 2px;
    background-color: gray;
    position: relative;
    left: 40%;
}

div.cacloai1 {
    width: 220px;
    height: 40px;
    background-color: #696565;
    float: left;
    margin-left: 180px;
}

div.cacloai1 a>h3 {
    text-align: center;
    position: relative;
    top: 10px;
    color: #ffffff;
}

div.cacloai {
    width: 170px;
    height: 40px;
    background-color: #696565;
    float: left;
}

div.cacloai a>h3 {
    text-align: center;
    position: relative;
    top: 10px;
    color: #ffffff;
}

.mr1 {
    margin-left: 20px;
}

div.sanpham3 {
    width: 100%;
    /* min-height: 170px; */
    background-color: aquamarine;
    position: relative;
    top: 40px;
}

div.box2 {
    width: 295px;
    height: 470px;
    /* background-color: rgb(105, 62, 62); */
    float: left;
    position: relative;
    left: 10%;
    overflow: hidden;
}

div.box2>img {
    width: 100%;
    height: 65%;
}

div.box2>img:hover {
    transform: scale(1.2);
    transition: 2s;
}

div.box2>h2 {
    text-align: center;
    position: relative;
    top: 30px;
}

div.box2>p {
    text-align: center;
    position: relative;
    top: 30px;
}

.box2 span {
    color: #d30000;
    position: relative;
    left: 110px;
    top: 20px;
}

.mr {
    margin-right: 30px;
}

.mb {
    margin-bottom: 5px;
}

div.khachhang {
    width: 100%;
    height: 100px;
    /* background-color: #d30000; */
    clear: both;
    text-align: center;
    line-height: 30px;
}

div.khachhang>h1 {
    padding-top: 50px;
}

div.khachhang>h3 {
    padding-top: 80px;
}

.sanpham4 {
    margin: 0 auto;
    width: 90%;
    height: 600px;
    padding-left: 100px;
    padding-top: 100px;
}

.sanpham41 {
    float: left;
    width: 25%;
    height: 200px;
    padding-top: 150px;
    margin: 10px;
}

.sanpham41>img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    margin: 40px;
}

.sanpham42 {
    float: left;
    width: 25%;
    height: 200px;
    padding-top: 150px;
}

.sanpham42>img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    margin: 40px;
}

.sanpham43 {
    padding-top: 150px;
    float: left;
    width: 25%;
    height: 200px;
}

.sanpham43>img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    margin: 40px;
}

.mr4 {
    margin-left: 50px;
}

.sanpham41>button {
    border: none;
    font-size: 20px;
    padding-left: 20px;
}

.sanpham42>button {
    border: none;
    font-size: 20px;
    padding-left: 20px;
}

.sanpham43>button {
    border: none;
    font-size: 20px;
    padding-left: 20px;
}

footer {
    clear: both;
    width: 100%;
    height: 550px;
    position: relative;
    top: 30px;
}

footer>div.sanpham5 {
    clear: both;
    float: left;
    width: 100%;
    height: 80px;
    background-color: black;
    position: relative;
}

footer>div.sanpham5>i {
    padding: 20px;
    margin-left: 100px;
    position: relative;
    left: 5%;
    font-weight: bold;
    float: left;
    color: white;
}

footer>div.sanpham6 {
    clear: both;
    width: 100%;
    height: 300px;
}

footer>div.sanpham6>i {
    clear: both;
    position: relative;
    top: 50px;
    font-size: 20px;
    left: 150px;
}

footer>div.sanpham6>h3 {
    display: inline-block;
    float: right;
    position: relative;
    top: 40px;
    right: 150px;
}

div.sanpham61>i {
    position: relative;
    left: 150px;
    bottom: 100px;
    font-size: 20px;
}

.face>a>i {
    float: left;
    padding-top: 100px;
}

.youtobe>a>i {
    float: left;
    padding-top: 100px;
    padding-left: 20px;
}

.google>a>i {
    float: left;
    padding-top: 100px;
    padding-left: 20px;
}

.drive>a>i {
    padding-top: 100px;
    padding-left: 20px;
}

div.sanpham62>i {
    clear: both;
    position: relative;
    left: 150px;
    font-size: 20px;
}

footer>div.sanpham7 {
    clear: both;
    width: 100%;
    background-color: black;
}

div.sanpham7>p {
    color: white;
    padding: 15px;
    margin: 15px;
}

div.sanpham7>span {
    display: inline-block;
}


/* end web */